<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
  <p><input type="text" name="" /></p>
  <p><input type="text" name="" /></p>
  <p><input type="text" name="" /></p>
  </br>
  <input type="submit" name="submit" />
</form>

